<h1>Show all posts</h1>

<div class="row gap-4 px-3 py-3">
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.post_name %></h5>
        <p class="card-text"><%= post.post_body %></p>
        <p class="card-text"><%= post.created_at %></p>
        <a href="#" class="card-link"><%= link_to post.post_name, post %></a>
      </div>
    </div>
  <% end %>
</div>
